@model List<TestimonialViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Referans Adı</th>
        <th>Referans Ünvan</th>
        <th>Referans Açıklaması</th>
        <th>Sil</th>
        
      
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <th>@item.TestimonialID</th>
            <td>@item.Name</td>
            <td>@item.Title</td>
            <td>@item.Description</td>
            <td><a asp-controller="Testimonial" asp-action="DeleteTestimonial" asp-route-id="@item.TestimonialID" style="color:black" class="btn mb-1 btn-rounded btn-outline-danger">Sil</a></td>
       
           
        </tr>
    }


</table>


